#shadow {
    top: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    /* background-color: transparent; */
}

#person_model {
    display: flex;
    width: 70%;
    margin: 3em auto;
    height: 90%;
    position: relative;
}

#person_model #ul {
    width: 25%;
    border-right: 1px solid #460ae2;
    background-color: #fff;
    box-shadow: 0px 0 20px #7f54eb;
    border-radius: 10px 0 0 10px;
}

#person_model>ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
    border-radius: 10px 0 0 0;
    margin-top: 10px;
}

#person_model>#ul li {
    width: 100%;
    height: 3em;
    font-size: 18px;
    line-height: 3em;
    color: #460ae2 !important;
    cursor: pointer;
}


#person_model>#ul li span {
    margin-left: 1em;
    font-family: pingfang;
}


#person_detail {
    width: 75%;
    background-color: #f1f1f1;
    overflow-y: scroll;
    border-radius: 0 10px 10px 0;
}

#person_detail::-webkit-scrollbar {
    display: none;/*隐藏滚动条*/
}

@font-face {
    font-family: pingfang;
    src: url('/苹方字体.ttf')
}

#person_exit {
    width: 2em;
    text-align: center;
    cursor: pointer;
    position: absolute;
    color: #fff;
    right: 0;
    font-size: 2em;
    background-color: #a286e7;
    border-radius: 0 10px 0 0;
}
#person_exit:hover {
    background-color: #460ae2;
}

#person_detail {
    padding: 1.5em;
}
#person_detail .BBlist_img {
    width: 6em;
    height: auto;
}
#person_detail #person_id {
    font-size: 2em;
    color: #460ae2;
}

#person_info .vertical{
    width: 20%;
    margin-left: 1em;
}

#person_detail #person_glory {
    display: flex;
    width: 20%;
}

.person_glory {
    font-size: 2em;
    cursor: pointer;
}

.person_PersonInfo_info {
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

.person_PersonInfo_info span {
    display: inline-block;
    text-align: center;
    width: 100px;
    background-color: #a286e7;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 15px 5px 5px;
    font-size: 15px;
    font-weight: lighter;
}


#control {
    width: 90% !important;
}
#control * {
    line-height: 2em;
}
#PersonPointList_ul {
    width: 90%;
}
.person_PersonPointList_li {
    width: 100%;
    line-height: 3em;
    margin: 0 !important;
    background-color: #fff;
}
.person_PersonPointList_li:hover {
    cursor: pointer;
    color: #fff;
    background-color: #a286e7;
}
.person_PersonPointList_rank {
    width: 33.33%;
    text-align: center;
}
.person_PersonPointList_name {
    width: 33.33%;
    text-align: center;
    font-weight: 900;
}
.person_PersonPointList_point {
    width: 33.33%;
    text-align: center;
}


#control {
    background-color: #fff;
    width: 50%;
    justify-content: space-between;
}

#control li {
    width: 33.33%;
    text-align: center;
    cursor: pointer;
}

#person_PersonCollection_ul {
    width: 90%;
}

.person_PersonCollection_li {
    width: 100%;
}

@keyframes doudong {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(30deg);
    }

    40% {
        transform: rotate(0);
    }

    60% {
        transform: rotate(0);
    }
    80% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0);
    }
}

.df {
    margin: 4px;
}
.person_tx {
    width: 4em;
    height: 4em;
    overflow: hidden;
    border-radius: 50%;
}
.person_tx img {
    width: 100% !important;
}

.BBlist_reward>.person_PersonCollection_portrait {
    width: auto !important;
    height: 2em !important;
}

#person_PersonCollection {
    padding-top: 6em;
    height: 100%;
    overflow-y: scroll;
}
#person_PersonCollection::-webkit-scrollbar {
    display: none;/*隐藏滚动条*/
}

#person_info_headimg {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    position: relative;
}
#person_info_headimg img {
    display: inline-block;
    width: 100% !important;
    height: auto !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#person_collection_tab {
    height: 6vh;
    position: fixed;
    z-index: 999;
    background-color: #7f54eb;
}

.person_tab_active {
    background-color: #7f54eb;
    color: #fff;
}
.person_tab {
    background-color: #fff;
    color: #7f54eb;
}

#person_info .vertical {
    margin-left: 2em;
}

.lbt {
    position: relative;
    width: 90%;
    height: 300px;
    background-color: aqua;
}

.lbt .right,
.lbt .left {
    position: absolute;
    background-color: blueviolet;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 2em;
}

.lbt .right {
    right: 0;
}

.lbt .left {
    left: 0;
}

.lbt ol li {
    float: left;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    list-style: none;
}


.lbt ul li img {
    width: 100%;
    height: 600px;
}
