* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f1f1;
}

li {
    list-style: none;
    background-color: #fff;
}

input {
    border: none;
    outline: none;
}


/* 垂直布局 */
.vertical {
    display: flex;
    flex-wrap: wrap;

}
.vertical>* {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.start {
    justify-content: start !important;
}

/* 等级颜色 */

